:root {
--default: #006791;
--primary: #2c365e;
--secondary: #e98a15;
--third: #FF5E99;
}

.larger { 
  font-size: 400%;
  color: var(--default);
}
.large { font-size: 130% }

.center-custom {
  text-align: center; /* Center text horizontally */
  display: flex; /* Enable flexbox layout */
  justify-content: center; /* Center horizontally within its parent */
  align-items: center; /* Center vertically within its parent */
  height: 100vh; /* Ensure the element takes up the full viewport height */
}

.primary {
  color: var(--primary);
}

.secondary {
  color: var(--secondary);
}

.third {
  color: var(--third)
}

code.sourceCode {
  font-size: 2.25em;
}

.tl  { text-align: left; }
.tr  { text-align: right; }
.tc  { text-align: center; }
.tj  { text-align: justify; }

/* .pause ul {
  margin-bottom: 0 !important;
} */

/* 
To change the font size of both code chunk code and output,
use only the code tag as css selector. 
And remove above css selector
code {
  font-size: 1.3em;
   // or try font-size: xx-large; 
}
*/