:root {
--primary: #2c365e;
--secondary: #e98a15;
--third: #FF5E99;
}

.primary {
  color: var(--primary);
}

.secondary {
  color: var(--secondary);
}

.third {
  color: var(--third)
}

code.sourceCode {
  font-size: 2.25em;
}


/* .pause ul {
  margin-bottom: 0 !important;
} */

/* 
To change the font size of both code chunk code and output,
use only the code tag as css selector. 
And remove above css selector
code {
  font-size: 1.3em;
   // or try font-size: xx-large; 
}
*/